.navbar {
            height: 56px;
        }

.navbar a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
        }

.user-icon {
            width: 40px;  /* Fix user icon size */
            height: 40px;
            border-radius: 50%;
        }

body{
    margin: 3%
}

.book-card {
    max-width: 200px; /* Adjust the card size */
    margin: auto; /* Center the cards */
}

.book-card img {
    max-height: 250px; /* Reduce image height */
}

@media (min-width: 0px) {
    nav {
        height: 5%;
    }
}

@media (min-width: 576px) {
    nav {
        height: 6%;
    }
}

@media (min-width: 992px) {
    nav {
        height: 8%;
    }
}
    
.container {
    margin-top: 5%;
}
