body {
    background-image: url(moonlight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
hr {
    color: solid yellow;
}

.container {
    background: rgb(10, 1, 54);
    padding: 25px;
    border-radius: 10px;
    margin-top: 5%;
    justify-content: center;
    margin-bottom: 5%;
}

h1 { 
    color:#E6C200;
}

h4{
    margin-bottom: 22px;
}

p{
    margin-top: 20px;
    justify-content: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #F5F5DC;
    color: #191970;
}

button {
    background-color: #FFD700;
    color: #191970;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #E6C200;
}

a {
    color: #FFD700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
